

     <div class="columns is-centered">
       <div class="column is-6">
             <%=  form_for @user do |f| %>
               <div class="field">
                   <%= f.label :username %>
                   <%= f.text_field :username %>
               </div>

                <div class="field">
                  <%= f.label :profile %>
                  <%= f.text_field :profile %>
                </div>


               <div class="field">
                 <%= f.label :profile_image %>
                 <%= f.attachment_field :profile_image_id %>
               </div>

                <%= f.submit "投稿", class: "btn btn-primary btn-lg" %>
             <% end %>
        </div>
      </div>
