<h1>Users#show</h1>
<p>Find me in app/views/users/show.html.erb</p>

<% attachment_image_tag @user, :profile_image, fallback: "no-image.png",class: "profile_image " %>

<%= @user.username %>

<%= @user.profile %>

<%= form_for @user do |f| %>
    <div class="field">
        <%= f.label :username, "ユーザー名", class: "label" %>
        <%= f.text_field :username, class: "input" %>
    </div>

    <div class="field">
        <%= f.label :email, "メールアドレス", class: "label" %>
        <%= f.email_field :email, class: "input" %>
    </div>

    <div class="field">
        <%= f.label :profile, "プロフィール", class: "label" %>
        <%= f.text_area :profile, class: "textarea" %>
    </div>

    <div class="field">
        <%= f.label :profile_image, "プロフィール画像", class: "label" %>
        <%= f.attachment_field :profile_image, class: "input" %>
    </div>

<% end %>
