<div class="container">
    <div class="row">
      <% @communities.each do |community| %>
         <div class="col">
            <%= link_to community_path(community) do %>
               <div class="card" style="width: 14rem;">
                  <div class="card-image">
                    <%= attachment_image_tag community, :intro_image, fallback:"no-image.jpg", class:"rounded-top" %>
                  </div>

                  <div class="card-body">
                    <%= community.title %>
                    <%= community.introduction%>
                  </div>

                  <% if current_user.present? && current_user.following?(community) %>
                    <%= link_to  community_follows_path(community.id), method: :delete, remote: true do %>
                      <i class="fas fa-grin-stars"></i>
                    <%end%>
                  <% else %>
                    <%= link_to  community_follows_path(community.id), method: :post, remote: true do %>
                      <i class="far fa-grin-stars"></i>
                    <%end%>
                  <%end%>
                  <%= community.follows.count %>
               </div>
            <%end%>
          </div>         　
       <%end%>
    </div>
</div>

    <style>
      .intro_image {
        width: 222px;
        height: 180px;

      }



      .row {
         padding-top: 30px;
      }

      .card {
        height:330px;

      }

    </style>
