<!DOCTYPE html>
<html>
  <head>
    <title>join_app_sample</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%if flash[:notice]%>
        <div class="notification_msg">
          <p class="notice"><%= notice %></p>
        </div>
    <%end%>

    <%if flash[:alert]%>
        <div class="notification_alert">
          <p class="alert"><%= alert %></p>
        </div>
    <%end%>

     <header>
        <div class="navbar-item">
            <%= link_to root_path, class:  "navbar-item" do%>
            <h1 class="title" style="">Join2</h1>
            <%end%>
            <div class="auth_func">
              <% if user_signed_in?%>
                <%= link_to 'ログアウト',destroy_user_session_path, method: :delete %>
             <%else%>
                <%= link_to 'ログイン',new_user_session_path%>
                <%= link_to '新規登録', new_user_registration_path%>
          　  <%end%>
          　</div>
            <div class="user_contents" >
            　 　<% if current_user %>
            　　　<%= link_to 'マイページ' ,profile_mypage_path(id: current_user)%>
　　　　　　　　 　<% end %>
　　　　　　　　
                <%= link_to '投稿したコミュニティ' %>
                <%= link_to 'フォローしたコミュニティ'%>
　　　　　　　</div>
        </div>
      </header>
    <%= yield %>
  </body>
</html>

<style>
    .user_contents {
       text-align: right;
       display: flex;
       flex-direction: column;
    }

</style>
